<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET uygulamanızı nasıl yapılandıracağınız hakkında daha fazla bilgi için lütfen şu adresi ziyaret edin:
   https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WMSDATA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="OSGBAPPCONNECTION" connectionString="Data Source=94.73.144.8;Initial Catalog=u6699064_db601;Persist Security Info=True;User ID=u6699064_user601;Password=:4Rbp3=4_9F:AwJr" providerName="System.Data.SqlClient" />
    <add name ="EXCELVERISATIRI" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source= ‘C:\Inetpub\vhosts\osgbapp.com\httpdocs\ExcelUpload\’; Extended Properties='Excel 12.0;HDR=YES'"/>
  </connectionStrings>
  <system.web>
    <trust level="Full" />
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
	  <sessionState mode="InProc"
		 customProvider="DefaultSessionProvider">
		  <providers>
			  <add name="DefaultSessionProvider"
					type="System.Web.Providers.DefaultSessionStateProvider,
                    System.Web.Providers, Version=1.0.0.0, Culture=neutral,
                    PublicKeyToken=31bf3856ad364e35"
					connectionStringName="DefaultConnection" />
		  </providers>
	  </sessionState>  

  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <applicationSettings>
    <WMSDATA.Properties.Settings>
      <setting name="WMSDATA_tcNoDogrula_KPSPublic" serializeAs="String">
        <value>https://tckimlik.nvi.gov.tr/service/kpspublic.asmx</value>
      </setting>
    </WMSDATA.Properties.Settings>
	 
  </applicationSettings>
</configuration>